a:link{
    color:green;
    border:none;
    border-radius:30px;
    padding:10px;
    background-color: blue;
    text-decoration: none;
    text-align:center;
    display:inline-block;
    /*removes the underlining*/
}

a:visited{
    color:pink;
    background-color: transparent;
    text-decoration:none;

}
a:hover{
    color:red;
    background-color: transparent;
    text-decoration: underline;
}
body{
    background-image:url('photo.pg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
table, th, td{
    border-style: inset ;
    border-collapse:collapse;
    border-radius:10px;
}
th{
    text-align:center;
}
tr :nth-child(even){
    background-color: aqua;
}
tr:hover{
    background-color: #D6EEEE;
}
.right{
    background-color:red;
    height:40px;
    padding:20px;

}
.center{
    background-color:grey;
    height:40px;
    padding:20px;

}
.left{
    background-color:orange;
    height:40px;
    padding:20px;

}
.left, .right {
    float:left;
    width: 20%;
}
.main{
    float:left;
    width:60%;
}
@media screen and (max-width: 800px){
    .left, .center, .right{
        width: 100%;
    }
}

